body {
    background-color: rgb(25, 213, 219);
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(185, 30, 247);
    font-size: xx-large;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
}